dash
dask
dgl
future
graphviz
graphx
gym
imageio
ipython-sql
jupyterlab
matplotlib
networkx
numpy
pandas
pep8
pipenv
Pillow
pybullet
pyspark
pytest
regex
requests
scikit-image
scikit-learn
scikit-opt
scipy
seaborn
six
tensorflow==1.15.2
torch
torchvision
TPOT
tqdm
virtualenv
xgboost
